body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}
.card {
  border: 1px solid #bab1b1;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #d8c6c6;
  padding: 20px;
  max-width: 300px;
  margin: 20px;
  display: inline-block;
  text-align: center;
}
.card .card-image {
  max-width: 50%;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: rgb(14, 15, 15);
}
.card .card-text {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(14, 15, 15);
  font-size: 14px;
  line-height: 20px;
}

.student p {
  margin: 0;
}

.nav-bar {
  background-color: rgb(136, 197, 189);
  padding: 20px;
  margin: -8px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.nav-bar .nav-link {
  color: #ffffff;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-bar .nav-link:hover {
  text-decoration: underline;
}

.welcome-message {
  font-size: 2.5em;
  background-color: rgb(51, 174, 10);
  color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}
.login-prompt {
  font-size: 2.5em;
  background-color: rgb(251, 18, 18);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.list-category {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: rgb(221, 245, 9);
}
.list-items li {
  font-size: 1.2em;
  list-style: none;
  text-align: center;
  margin: 0;
}
.list-items li:hover {
  color: rgb(215, 215, 31);
  cursor: pointer;
}

.counter-container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.count-display {
  font-size: 5em;
  margin: 0 auto 30px;
}
.counter-button {
  font-size: 1.5em;
  margin-right: 10px;
  cursor: pointer;
  padding: 7px 15px;
  font-weight: bold;
  background-color: rgb(16, 113, 209);
  color: #fff;
  border: none;
  border-radius: 7px;
}
.counter-button:hover {
  background-color: rgb(10, 91, 177);
}

.color-picker-container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color-picker-container h1 {
  margin: 50px;
  font-size: 3rem;
}
.color-picker-container .color-display {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #c599c0;
  border-radius: 20px;
  margin-bottom: 25px;
  transition: 0.25 ease;
}
.color-display p {
  font-size: 2rem;
  color: rgb(28, 31, 31);
  text-align: center;
}
.color-picker-container label {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.color-picker-container input[type="color"] {
  width: 100px;
  height: 50px;
  border: 3px solid #ddd0d0;
  border-radius: 5px;
}

/* To-Do list style */
.project-1 {
  background-color: #c599c0;
  height: 200vh;
  margin: 0 -10px;
}
.to-do-list-container {
  padding-top: 50px;
}
.to-do-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: -30px;
}
.to-do-list h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #ffffff;
}
.to-do-list button {
  font-size: 1.7rem;
  font-weight: 400;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  color: #fff;
  border-radius: 9px;
  transition: background-color 0.5s ease;
}
 .to-do-list .add-button {
  background-color: rgb(22, 210, 22);
  margin-left: 10px;
 }
 .to-do-list .add-button:hover {
  background-color: rgb(20, 165, 15);
 }
 .to-do-list .delete-button {
  background-color: rgb(246, 25, 25);
 }
 .to-do-list .delete-button:hover {
  background-color: rgb(201, 22, 22);
 }
 .to-do-list .move-button {
  background-color: rgb(45, 138, 232);
 }
 .to-do-list .move-button:hover {
  background-color: rgb(34, 118, 202);
 }
 .to-do-list input[type="text"] {
  width: 400px;
  padding: 10px;
  font-size: 1.6rem;
  border: 3px solid #ddd0d0;
  border-radius: 5px;
  margin-bottom: 10px;
 }
 .to-do-list ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
 }
 .to-do-list ol li {
  font-size: 1.8rem;
  font-weight: 400;
  padding: 15px;
  background-color: #f5f5f5;
  border: 3px solid #f5f5f5;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: auto ;
  margin-bottom: 10px;
 }
 .to-do-list ol .text {
  flex: 1; 
 }
 .to-do-list .delete-button, .to-do-list .move-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px; 
 }

 /* Digital Clock Style */
 .clock-container {
  background-image: linear-gradient(rgba(11, 28, 184, 0.058), 
  rgba(0, 0, 0, 0.8)), url("../src/images/Picture-1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* backdrop-filter: blur(5px); */
  height: 45vh;
  width: 100vw;
  margin: -8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }
 .clock-container h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #fffb0a;
 }
 .clock-container .clock {
  color: #c1db2e;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px black;
 }

 /* Use Context() begins */
 .box {
  border: 3px solid #000;
  padding: 25px;
  margin-top: 30px;
 }

 /* useRef() begins */
 .project-3 {
  background-color: #d8c6c6;
  height: 100vh;
  margin: 7px -10px;
  padding-top: 10px;
 }
 .box-container {
  margin: 20px;
 }

 /* Stopwatch Project Style */
 .stopwatch {
  margin: 30px 60px 0 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 5px solid;
  border-radius: 50px;
  background-color: #fff;
  padding: 30px;
 }
 .stopwatch .display {
  font-size: 5rem;
  font-family: monospace;
  color: rgba(0, 0, 0, 0.855);
  text-shadow: 2px 2px 2px black;
  margin-bottom: 25px;
  font-weight: bold;
 }
 .stopwatch .controls button {
   font-size: 1.5rem;
   padding: 10px 20px;
   cursor: pointer;
   color: #fff;
   border: none;
   border-radius: 9px;
   font-weight: bold;
   margin: 5px;
   min-width: 125px;
   transition: background-color 0.5s ease;
 }
 .stopwatch .controls .start-button {
  background-color: rgb(31, 205, 22);
 }
 .stopwatch .controls .start-button:hover {
   background-color: rgb(3, 147, 3);
 }
 .stopwatch .controls .stop-button {
  background-color: rgb(255, 47, 47);
 }
 .stopwatch .controls .stop-button:hover {
  background-color: rgb(201, 34, 34);
 }
 .stopwatch .controls .reset-button {
  background-color: rgb(47, 206, 255);
 }
 .stopwatch .controls .reset-button:hover {
  background-color: rgb(31, 142, 176);
 }